body {
   width: 95%;
   max-width:auto;
   height:auto;
   margin:center;
   background:url(bg3.jpg);
   font-family: sans-serif;
   line-height:1.5;center;
   color:#ffff;
   style="overflow:scroll; automation;
 }
main {
         background-color: black;
         margin: 20px;
         padding: 5px 40px;
         border: border-radius;25px;
    }
 @media only screen and (min-width: 1150px) {
.media {
        width:100%;
        height:500px;
}
#relogio .flash{ background: #E52325;
          border:none;
          color:#ffff
          padding:1rem;
        width: 60%;
        height: 60px;
        margin: 20px;
      border-radius: 3px;
     }
  .flash {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
  }
@keyframes flash {
         0% {
         background: #ffff00;
          padding: 15px 20px;
      }
     50% {
         background:#E52325;
         padding: 20px 25px;

       }
   100% {

        background:  #33ff33;
        padding: 15px 20px;
    }
